<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/users/login" method="post">
    <input type="text" name="name">
    <input type="password" name="pass" id="">
    <input type="submit" value="ログイン">
  </form>
  <div>
    <a href="/boards">トップページへ戻る</a>
    <a href="/users/add">アカウントの作成</a>
  </div>
</body>
</html>
